:root {
    --primary: #c500cc;
    --secondary: rgb(214, 214, 214);
}


.Latitude{
    color: white;
    background-color: var(--primary);
    padding: 15px;
}


body{
    /* background: rgb(100, 100, 100); */
    background: black;
}

.container{
background:  var(--secondary)/*yellow*/; 
margin: 70px;
width: 650px;
height: 650px;

}


  /* The side navigation menu */
.sidebar {
    width: 500px;
    height: 500px;
    position: relative;
    left: 800px;
    bottom: 720px;
    background-color: var(--secondary);

    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  


  @media(max-width: 992px)
{
#fun{
        background-color: var(--primary) !important;
    }
body{
    background: var(--secondary);
}

.container{
    margin: 0px;
    width: 100%;
}

.sidebar {
    position: relative;
    bottom: 40px;
    left: 0px;
    width: 100%;
  }

}