:root {
    --primary: #c500cc
}


.Latitude{
    color: white;
    background-color: var(--primary);
    padding: 15px;
}

/* .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */


body{
    /* background: rgb(100, 100, 100); */
    background: black;
}
.container{
background: rgb(214, 214, 214);
margin: 80px;
}

@media(max-width: 992px)
{
#fun{
        background-color: var(--primary) !important;
    }
}