:root {
    --primary: #c500cc;
    --secondary: rgb(214, 214, 214);
}


.Latitude{
    color: white;
    background-color: var(--primary);
    padding: 15px;
}

/* .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */


body{
    /* background: rgb(100, 100, 100); */
    background: black;
}
.container{
background: var(--secondary);
margin: 70px;
width: 650px;
height: 650px;
}

@media(max-width: 992px)
{
#fun{
        background-color: var(--primary) !important;
    }
}

  /* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
    position: relative;
    left: 800px;
    bottom: 720px;
    background-color: var(--secondary);

    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }